<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<div class="container-fluid">
<div>

<h1>Regional Rail Fares</h1>


<label for="job-adminemail">Where are you going?</label>
<select id="widget" name="selectbasic" class="form-control input-md" aria-placeholder="Experience">
  <!-- <option value="None" disabled="disabled" selected="selected"></option>
  <option value="1" selected="selected">ZONE 1</option>
  <option value="2" selected="selected">ZONE 2</option>
  <option value="3" selected="selected">ZONE 3</option>
  <option value="4" selected="selected">ZONE 4</option>
  <option value="5" selected="selected">ZONE 5</option>
  <option value="6" selected="selected">ZONE 6</option>
   --><input required type ="text" *ngIf = "Data" [(ngModel)]= "Data.fetchZoneData">
</select><br>


<label for="">When are you riding?</label>
<select id="widget" name="selectbasic" class="form-control input-md" aria-placeholder="Experience">
  <!-- <option value="None" disabled="disabled" selected="selected"></option>
  <option value="1" selected="selected">anytime</option>
  <option value="2" selected="selected">weekday</option>
  <option value="3" selected="selected">evening_weekend</option>
  <option value="4" selected="selected">advance_purchase</option>
  <option value="5" selected="selected">onboard_purchase</option>
   --><input required type ="text" *ngIf = "Data" [(ngModel)]= "Data.fetchInfoData">
</select><br>

<label for="">Where will you Purchase the Fare?</label>

<form action="" >
  <input type="radio" name="gender" value="male"> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  </form>
  


<label for="">How many rides will you need?</label>
<input required type="text" class="form-control"  name="Skills Need"  placeholder=""><br>

<h4>Data</h4>



<h1>Total</h1>
<input required type ="text" *ngIf = "Data" [(ngModel)]= "Data.fetchArrayData">
</div>
