<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<div class="container-fluid">
<div>

<h1>Regional Rail Fares</h1>


<label for="job-adminemail">Where are you going?</label>
<select id="widget" name="selectbasic" [(ngModel)]="objfareServiceForm.zoneName" class="form-control input-md" aria-placeholder="Experience">
  <option *ngFor="let zone of faresData?.zones"   [value]="zone?.name" >{{zone?.name}}</option>
</select><br>


<label for="">When are you riding?</label>
<select id="widget" name="selectbasic" [(ngModel)]="objfareServiceForm.ridingPeriod" class="form-control input-md" aria-placeholder="Experience">
  <option *ngFor="let period of ridingPeriods" [value]="period.value" [selected]="riding == period.value">{{period.name}}</option>
   <!--<input required type ="text" *ngIf = "Data" [(ngModel)]= "Data.fetchInfoData">-->
</select><br>

<label for="">Where will you Purchase the Fare?</label>

<form action="" >
  <input type="radio" name="gender" [(ngModel)]="objfareServiceForm.purchaseType"  [value]="'advance_purchase'"> Station Kiosk<br>
  <input type="radio" name="gender" [(ngModel)]="objfareServiceForm.purchaseType"  [value]="'onboard_purchase'"> Onboard<br>
  </form>
  


<label for="">How many rides will you need?</label>
<input required type="text" class="form-control" [(ngModel)]="objfareServiceForm.numberOfRide"  name="Skills Need"  placeholder=""><br>

<button class="btn btn-primary" (click)="onCalculate()" >Calculate</button>

<div class="alert alert-warning" *ngIf="IsAllSelected">
  <strong>Warning!</strong> Please select all the fields
</div>

<h1 *ngIf="total">Your fare will cost $ {{total}}</h1>
</div>
